__pycache__
.vscode
.DS_Store
wandb
launch
planning_eval_scripts
dynamics_eval_scripts
dynamics_eval_samples
planning_outputs
data/configs/bagel_vlm
eval/bagel_vlm
eval/bagel_plan/real_world
eval/gen
eval/vlm
scripts/train_bagel_plan
scripts/train_bagel_vlm
train/test_dataloader.py
eval_dynamics.py
collect_samples_for_dynamics_eval.py